@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply inline-block text-center whitespace-nowrap align-middle border border-transparent;
  }
  .btn-yellow {
    @apply bg-primary text-white rounded-[20px] py-[15px] px-[25px] text-xl shadow-lg;
  }
  .btn-white {
    @apply bg-white text-black rounded-[20px] py-[15px] px-[25px] text-xl shadow-lg hover:bg-primary;
  }
  .btn-small {
    @apply !py-2 !px-4 !rounded-2xl !text-lg;
  }
  .btn-social {
    @apply w-[50px];
  }
  .btn-mais {
    @apply text-absolute-black py-1 px-2 border-2 border-absolute-black text-sm cursor-pointer rounded-tr-[10px] rounded-br-[10px] hover:bg-absolute-black hover:text-white;
  }
  .btn-menos {
    @apply text-absolute-black py-1 px-2 border-2 border-absolute-black text-sm cursor-pointer rounded-tl-[10px] rounded-bl-[10px] hover:bg-absolute-black hover:text-white;
  }
  .btn-add {
    @apply border-2 border-absolute-black text-base py-1 px-2 rounded-[10px] text-white bg-absolute-black ml-4 hover:border-white;
  }
  .btn-remove {
    @apply border-2 border-red text-base py-1 px-2 rounded-[10px] text-white bg-red ml-4;
  }
  .numero-itens {
    @apply text-absolute-black py-1 px-4 border-t-2 border-b-2 border-absolute-black text-lg;
  }
  .icon {
    @apply inline-block text-black bg-primary w-[45px] h-[45px] absolute right-2 -mt-2 rounded-2xl text-center pt-2;
  }
  .form-control {
    @apply block w-full bg-white text-black rounded-[20px] py-4 px-6 text-xl shadow-lg !border-none !outline-none;
  }
}

body {
  font-family: 'Poppins', 'Rubik', sans-serif;
}

.container {
  max-width: 1140px;
}

.active {
  background-color: #ffbf00;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.card-item:hover .add-carrinho {
  display: flex;
}

.card-item:hover .product-price {
  color: #000 !important;
}

.etapa.active,
.etapa.active::before {
  background-color: #ffbf00;
}

#modalContent::-webkit-scrollbar {
  width: 6px;
}

#modalContent::-webkit-scrollbar-thumb {
  background: #fff;
}

#modalContent::-webkit-scrollbar-track {
  background: #fff;
}
